/* MOBIL ANPASSAD*/
.clearfix{
    clear: both;
}

*{
    box-sizing: border-box; 
}

.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header{
    display: block;
    width: 100%;
    height: auto;
    background-color: antiquewhite;
}
header img{
    float: left;
    border: 1px solid black;
    width: auto;
    height: 100%;

}
header h1{
    display: block;
    float: right;
    width: 55%;
    height: auto;
    text-align: center;
    font-size: 5em;
    border: 1px solid black;
}
nav{
    width: 100%;
    height: auto;
}
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

nav li{
float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 nav li a:hover {
    background-color: #111;
  }

main{
    display:center;
    
}



@media (min-width: 600px) {
/*GAMLA WEBBLÄSARE */






}

@supports(display:grid){
/*NYA WEBBLÄSARE*/

}
