/* MOBIL ANPASSAD*/
.clearfix{
    clear: both;
}

header{
    padding: 5px;
}
header img{
    display: block;
    margin: auto;
    width: 100%;
}
header h1{
    text-align: center;
    font-size: 5em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    height: auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: table;
    width: 100%;
}

nav li{
    display: table-cell;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

nav li a:hover {
    background-color: #111;
}

body{
    margin: 0;
}

main{
    display:center; 
}

article{
    margin: 0px 5px;
    text-align: justify;
}

article img{
    width: 100px;
    margin: auto;
}

article ul{
    list-style-type: none;
    padding: 0;
}

li p{
    margin: 10px;
}

article h2{
    margin: 0;
    padding-bottom: 5px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
@media (min-width: 600px) {
    /*GAMLA WEBBLÄSARE */
    
    
    
    
    
    
}

@supports(display:grid){
    /*NYA WEBBLÄSARE*/
    
}
