/* MOBIL ANPASSAD*/
.clearfix{
    clear: both;
}

.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

body{
    margin: 0;
}

/* Header*/


header{
    background-color: pink;
}

header img{
    display: block;
    margin: auto;
    width: 100%;
}
header h1{
    text-align: center;
    font-size: 5em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Navigation bar*/


nav{
    width: 100%;
    height: auto;
}
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #34302B;
      }

nav li{
float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 nav li a:hover {
    background-color: #111;
  }

  /*Main content*/

main{

    display: center;
}

  /*Footer*/

footer{
    border-top: 1px solid black;
    background-color: grey;
    width: 100%;
    height: 100%;

}
footer div{
    text-align: center;
    margin:0;
    padding: 10%;
}
footer ul{
    float:left;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 3%;
    padding-left:15%;
    text-align: center;
}
.rightul{
    float:right;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 3%;
    padding-right:15%;
    text-align:center;
} 




@media (min-width: 600px) {
/*GAMLA WEBBLÄSARE */






}

@supports(display:grid){
/*NYA WEBBLÄSARE*/

}
